<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8" />
  <title>MOHO</title>

  <link rel="stylesheet" href="/css/trangchu.css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
</head>

<body>
  <%- include('../partials/header') %>
    <script src="/js/auth.js"></script>
</body>

</html>