<footer class="footer">

    <div class="footer-container">

        <!-- COLUMN 1 -->

        <div>

            <h3 class="col-title">

                NỘI THẤT MOHO

            </h3>

            <p class="col-desc">

                Nội Thất MOHO là thương hiệu đến từ Savimex với gần 40 năm kinh
                nghiệm trong việc sản xuất và xuất khẩu nội thất đạt chuẩn quốc tế.

            </p>

            <div class="cert-badges">

                <img
                src="/images/banners/LogoMoho.png"
                class="img-bct"
                alt="">

                <div class="badge-dmca">

                    <span class="dmca-protected">

                        Protected by

                    </span>

                    <span>

                        DMCA

                    </span>

                </div>

            </div>

        </div>

        <!-- COLUMN 2 -->

        <div>

            <h3 class="col-title">

                THÔNG TIN

            </h3>

            <ul class="footer-links">

                <li><a href="#">Chính Sách Bán Hàng</a></li>

                <li><a href="#">Chính Sách Giao Hàng & Lắp Đặt</a></li>

                <li><a href="#">Chính Sách Bảo Hành & Bảo Trì</a></li>

                <li><a href="#">Chính Sách Đổi Trả</a></li>

                <li><a href="#">Khách Hàng Thân Thiết – MOHOmie</a></li>

            </ul>

        </div>

        <!-- COLUMN 3 -->

        <div>

            <h3 class="col-title">

                THÔNG TIN LIÊN HỆ

            </h3>

            <ul class="contact-list">

                <li class="contact-item align-start">

                    <i class="fa-solid fa-location-dot"></i>

                    <div>

                        <strong class="text-dark">

                            [Trụ sở chính]

                        </strong>

                        <br>

                        162 HT17, P. Hiệp Thành, Q.12, TP.HCM

                        <br>

                        Hotline: 0971141140

                    </div>

                </li>

                <li class="contact-item">

                    <i class="fa-solid fa-phone"></i>

                    <div>

                        097 114 1140

                    </div>

                </li>

                <li class="contact-item">

                    <i class="fa-solid fa-envelope"></i>

                    <div>

                        cskh@moho.com.vn

                    </div>

                </li>

            </ul>

        </div>

        <!-- COLUMN 4 -->

        <div>

            <h3 class="col-title">

                FANPAGE

            </h3>

            <div class="fb-box">

                <div class="fb-profile">

                    <div class="fb-avatar">

                        moho

                    </div>

                    <div>

                        <div class="fb-name">

                            Nội Thất MOHO

                        </div>

                        <div class="fb-followers">

                            104K người theo dõi

                        </div>

                    </div>

                </div>

                <button class="btn-follow">

                    <i class="fa-brands fa-facebook"></i>

                    Theo dõi Trang

                </button>

            </div>

        </div>

    </div>

    <!-- SOCIAL -->

    <div class="social-section">

        <div class="social-icons">

            <a href="#" class="icon-fb">

                <i class="fa-brands fa-facebook-f"></i>

            </a>

            <a href="#" class="icon-yt">

                <i class="fa-brands fa-youtube"></i>

            </a>

            <a href="#" class="icon-ig">

                <i class="fa-brands fa-instagram"></i>

            </a>

            <a href="#" class="icon-tt">

                <i class="fa-brands fa-tiktok"></i>

            </a>

        </div>

        <a href="#" class="maps-link">

            Chỉ đường đến showroom trên Google Maps

        </a>

    </div>

    <!-- COPYRIGHT -->

    <div class="copyright-bar">

        Copyright © 2026 Nội Thất MOHO.

    </div>

</footer>
<!-- FLOATING CONTACT -->

<div class="floating-widgets">

    <!-- PHONE -->

    <a
    href="tel:0971141140"
    class="widget-btn btn-phone">

        <i class="fa-solid fa-phone"></i>

    </a>

    <!-- ZALO -->

    <a
    href="#"
    class="widget-btn btn-zalo-fixed">

        Zalo

    </a>

    <!-- MESSENGER -->

    <a
    href="#"
    class="widget-btn btn-messenger">

        <i class="fa-brands fa-facebook-messenger"></i>

    </a>

    <!-- SCROLL TOP -->

    <button
    onclick="window.scrollTo({ top: 0, behavior: 'smooth' })"
    class="widget-btn btn-top">

        <i class="fa-solid fa-chevron-up"></i>

    </button>

</div>