<header class="main-header">
  <div class="container">
    <div class="logo">
      <img src="/images/banners/LogoMoho.png" alt="MOHO Logo" />
    </div>

    <div class="search-bar">

      <div class="search-box">

        <input type="text" id="searchInput" placeholder="Tìm kiếm sản phẩm..." autocomplete="off" />

        <button>
          <i class="fa fa-search"></i>
        </button>

        <!-- DROPDOWN -->
        <div id="searchDropdown" class="search-dropdown"></div>

      </div>

    </div>
    <div class="header-actions">
      <div class="account">
        <i class="fa fa-user-o"></i>
        <div class="account-text">
          <span>Đăng nhập / Đăng ký</span>
          <div class="my-account">
            <strong>Tài khoản của tôi</strong>
            <i class="fa fa-chevron-down"></i>
          </div>
        </div>
      </div>

      <div class="cart">
        <div class="cart-icon">
          <i class="fa fa-shopping-bag"></i>
          <span class="cart-count">0</span>
        </div>
        <span>Giỏ hàng</span>
      </div>
      <div class="mini-cart" id="miniCart">
        <div class="mini-cart-title">GIỎ HÀNG</div>
        <div class="mini-cart-list" id="miniCartList"></div>
        <div class="mini-cart-total" id="miniCartTotal"></div>

        <div class="mini-cart-footer">
          <a href="/cart">Xem giỏ hàng</a>
          <button>Thanh toán</button>
        </div>
      </div>
    </div>
  </div>

  <nav class="main-nav">
    <div class="main-nav-container">
      <ul>
        <li>
          <a href="#">Sản phẩm <i class="fa fa-chevron-down"></i></a>
        </li>
        <li><a href="#">Thiết kế - Thi công</a></li>
        <li>
          <a href="#">Khuyến mãi <i class="fa fa-chevron-down"></i></a>
        </li>
        <li>
          <a href="#">Tin tức <i class="fa fa-chevron-down"></i></a>
        </li>
        <li><a href="#">Về MOHO</a></li>
        <li><a href="#">Cửa hàng</a></li>
      </ul>
    </div>
  </nav>
</header>