<section class="service-features">
    <div class="service-card">
        <i class="fa-solid fa-truck-fast"></i>
        <h3>Giao Hàng & Lắp Đặt</h3>
        <p>Miễn Phí</p>
    </div>

    <div class="service-card">
        <i class="fa-solid fa-arrows-rotate"></i>
        <h3>Đổi Trả 1 - 1</h3>
        <p>Miễn Phí</p>
    </div>

    <div class="service-card">
        <i class="fa-solid fa-shield-halved"></i>
        <h3>Bảo Hành Đến 5 Năm</h3>
        <p>Miễn Phí</p>
    </div>

    <div class="service-card">
        <i class="fa-solid fa-headset"></i>
        <h3>Tư Vấn Thiết Kế</h3>
        <p>Miễn Phí</p>
    </div>
</section>