<!-- HERO SLIDER -->
    <section class="hero-banner">
      <div class="slider">
        <!-- Slide 1 -->
        <div class="slide active">
          <img src="/images/banners/Bannertrangchu1.png" alt="Banner 1" />
        </div>

        <!-- Slide 2 -->
        <div class="slide">
          <img src="/images/banners/Bannertrangchu2.png" alt="Banner 2" />
        </div>

        <!-- Slide 3 -->
        <div class="slide">
          <img src="/images/banners/Bannertrangchu3.png" alt="Banner 3" />
        </div>

        <!-- PREV -->
        <button class="slider-btn prev">
          <i class="fa-solid fa-chevron-left"></i>
        </button>

        <!-- NEXT -->
        <button class="slider-btn next">
          <i class="fa-solid fa-chevron-right"></i>
        </button>
      </div>
    </section>