.container,
.main-nav-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

/* 3. Header Top */
.header-top {
  padding: 25px 0;
}

.container {
  justify-content: space-between;
}

/* Logo */
.logo img {
  height: 65px;
  display: block;
}

.search-box {
  position: relative;
  width: 400px;
  /* bằng input */
  display: flex;
  border: 1px solid #ddd;
  background: #fff;
}

.search-box input {
  flex: 1;
  height: 40px;
  border: none;
  outline: none;
  padding: 0 10px;
}

.search-box button {
  width: 45px;
  border: none;
  background: #0F7D6C;
  color: #fff;
  cursor: pointer;
}

/* DROPDOWN */
.search-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #fff;
  border: 1px solid #ddd;
  max-height: 400px;
  overflow-y: auto;
  display: none;
  z-index: 99999;
}

/* ITEM */
.search-item {
  display: flex;
  gap: 10px;
  padding: 8px;
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #f1f1f1;
}

.search-item:hover {
  background: #f9f9f9;
}

.search-item img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

/* TEXT */
.search-name {
  font-size: 13px;
  font-weight: 500;
}

.search-price {
  display: flex;
  gap: 8px;
  margin-top: 4px;
}

.sale-price {
  font-weight: bold;
  color: #000;
}

.old-price {
  font-size: 12px;
  color: #777;
  text-decoration: line-through;
}

/* ===== HEADER ACTIONS ===== */

.header-actions {
  display: flex;
  align-items: center;
  gap: 35px;
  padding-right: 50px;
  position: relative;
}

/* Account & Cart */
.account,
.cart {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  color: #333;
}

/* Text nhỏ phía trên */
.account-text span {
  display: block;
  font-size: 12px;
  color: #888;
  margin-bottom: 3px;
  font-weight: 400;
}

/* Text chính */
.my-account {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 15px;
  font-weight: 400;
  color: #222;
}

/* Cart */
.cart {
  font-size: 15px;
  font-weight: 400;
  color: #222;
}

/* Icon cart */
.cart-icon {
  position: relative;
  font-size: 24px;
}

/* Badge số lượng */
.cart-count {
  position: absolute;
  top: -8px;
  right: -10px;

  background: #f36f21;
  color: white;

  font-size: 10px;
  font-weight: 500;

  width: 18px;
  height: 18px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
}

/* ===== MENU NAVIGATION ===== */

.main-nav {
  width: 100%;
  background: #fff;
}

/* Container menu */
.main-nav-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;

  padding-left: 15px;
}

/* Danh sách menu */
.main-nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 40px;
}

/* Item menu */
.main-nav li {
  padding: 16px 0;
}

/* Link menu */
.main-nav a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 14px;
  transition: 0.2s;
}

/* Hover */
.main-nav a:hover {
  color: #f36f21;
}

/* Icon */
.main-nav i {
  font-size: 10px;
  margin-left: 4px;
  color: #999;
}

/* minicart */
.mini-cart {
  position: absolute;
  right: 0;
  top: 100%;
  width: 360px;
  background: #fff;
  border: 1px solid #ddd;
  display: none;
  z-index: 9999;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  overflow: hidden;
}

/* TITLE */
.mini-cart-title {
  padding: 12px;
  font-weight: 600;
  color: #444;
  border-bottom: 1px solid #eee;
}


/* LIST */
.mini-cart-item {
  display: flex;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid #eee;
  align-items: center;
  position: relative;
}

/* IMAGE */
.mini-cart-item img {
  width: 55px;
  height: 55px;
  object-fit: cover;
  border-radius: 4px;
}

/* NAME */
.mini-cart-name {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

/* PRICE AREA */
.mini-cart-price {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 4px;
  flex-wrap: wrap;
}

/* CURRENT PRICE */
.price-current {
  font-weight: 600;
  color: #000;
}

/* OLD PRICE */
.price-old {
  font-size: 12px;
  color: #999;
  text-decoration: line-through;
}

/* QTY */
.qty-box {
  background: #eee;
  padding: 2px 6px;
  font-size: 12px;
  border-radius: 3px;
}

/* REMOVE BUTTON */
.remove-btn {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 16px;
  color: #999;
  transition: 0.2s;
}

.remove-btn:hover {
  color: red;
  transform: translateY(-50%) scale(1.2);
}

/* TOTAL */
.mini-cart-total {
  padding: 12px;
  border-top: 1px solid #eee;
  font-weight: 600;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mini-cart-total span {
  color: red;
  font-weight: 700;
}

/* FOOTER BUTTONS */
.mini-cart-footer {
  display: flex;
  gap: 10px;
  padding: 10px;
  border-top: 1px solid #eee;
}


.mini-cart-footer a,
.mini-cart-footer button {
  flex: 1;
  padding: 10px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}

/* VIEW CART */
.mini-cart-footer a {
  border: 1px solid #0F7D6C;
  color: #0F7D6C;
  text-decoration: none;
}

/* PAY */
.mini-cart-footer button {
  background: #0F7D6C;
  color: white;
  border: none;
}

/* HOVER EFFECT */
.mini-cart-footer a:hover,
.mini-cart-footer button:hover {
  opacity: 0.85;
}

.fly-img {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 99999;
  transition: all 0.8s ease-in-out;
  pointer-events: none;
}