<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <title>Register</title>



    <link rel="stylesheet" href="/css/client/header.css">

    <link rel="stylesheet" href="/css/client/footer.css">

    <link rel="stylesheet" href="/css/client/register.css">
    <link rel="stylesheet" href="/css/client/service-feature.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>

    <%- include('../../partials/header') %>

        <div class="auth-page">

            <div class="auth-card">

                <!-- LEFT -->
                <div class="auth-left">
                    <h1>Tạo tài khoản</h1>

                    <p class="auth-desc">
                        Đăng ký tài khoản chỉ trong 1 phút để tích lũy điểm và nhận ưu đãi từ MOHO.
                    </p>

                    <div class="auth-line-left"></div>
                </div>

                <!-- LINE -->
                <div class="auth-line"></div>

                <!-- RIGHT -->
                <div class="auth-right">



                    <form id="registerForm">

                        <input name="firstname" placeholder="Họ">
                        <input name="lastname" placeholder="Tên">

                        <div class="gender-group">
                            <label>
                                <input type="radio" name="gender" value="Male" checked>
                                Nam
                            </label>

                            <label>
                                <input type="radio" name="gender" value="Female">
                                Nữ
                            </label>
                        </div>

                        <input name="email" placeholder="Email">
                        <input name="password" type="password" placeholder="Mật khẩu">

                        <button type="submit">Đăng ký</button>

                    </form>

                </div>

            </div>

        </div>
        <%- include('../../partials/service-feature') %>
            <script src="/js/search.js"></script>
            <script src="/js/cart.js"></script>
            <script src="/js/auth.js"></script>
            <script src="/js/register.js"></script>

</body>

<%- include('../../partials/footer') %>

</html>