/* ===== PRODUCT GRID ===== */

.product-grid {
  display: grid;

  grid-template-columns: repeat(4, 1fr);

  gap: 25px;
}

/* ===== PRODUCT ITEM ===== */

.product-item {
  background: #fff;



  overflow: hidden;

  transition: 0.3s;

  cursor: pointer;
}

.product-item:hover {
  transform: translateY(-5px);
}

/* ===== IMAGE ===== */

.product-image {
  width: 100%;

  overflow: hidden;
}

.product-img {
  width: 100%;

  height: 280px;

  object-fit: cover;

  display: block;

  transition: 0.3s;
}

.product-item:hover .product-img {
  transform: scale(1.03);
}

/* ===== INFO ===== */

.product-info {
  padding: 18px;
}

/* ===== NAME ===== */

.product-name {
  font-size: 16px;

  line-height: 1.5;

  margin-bottom: 15px;

  color: #222;

  min-height: 48px;
}

/* ===== PRICE ===== */

.product-price {
  display: flex;

  align-items: center;

  gap: 10px;

  margin-bottom: 12px;
}

.current-price {
  color: red;

  font-size: 22px;


}

.old-price {
  color: #999;

  text-decoration: line-through;

  font-size: 15px;
}

/* ===== META ===== */

.product-meta {
  display: flex;

  justify-content: space-between;

  align-items: center;
}

.sold-count {
  font-size: 14px;

  color: #666;
}

.product-rating {

  display: flex;

  align-items: center;

  gap: 3px;

  font-size: 14px;
}

.product-rating i {

  color: #ccc;
}

.product-rating .active {

  color: orange;
}

.rating-number {

  margin-left: 5px;

  color: #666;
}

/* Căn chỉnh checkbox và label nằm trên một hàng */
.checkbox-inline {
  display: flex !important;
  /* Ép nằm trên 1 hàng */
  align-items: center !important;
  /* Căn giữa theo chiều dọc */
  gap: 10px !important;
  /* Khoảng cách giữa ô tick và chữ */
  flex-direction: row !important;
  /* Đảm bảo hướng là hàng ngang */
}

/* Đảm bảo ô input không bị biến dạng */
.checkbox-inline input[type="checkbox"] {
  margin: 0 !important;
  width: 20px;
  height: 20px;
}

.checkbox-inline label {
  margin: 0 !important;
  display: inline-block !important;
  /* Thay vì inline */
  width: auto !important;
}